## Data Collection

In this phase we will collect the customer ratings data from the airline quality website called [Skytrax](https://www.airlinequality.com/airline-reviews/british-airways). We will collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [1]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [5]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []


#route = []

In [13]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html5")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.lower())
        #country.append(item.span.next_sibling.text.strip(" ()"))

C:\Users\USER\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html5lib"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\USER\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "html5lib")

  markup_type=markup_type))

Error on page 29
Error on page 31
Error on page 31
Error on page 33
Error on page 34

In [35]:
#check the length of total reviews extracted

reviews = reviews[:3418]
len(reviews)

3418

In [36]:
country = country[:3418]
len(country)

3418

In [37]:
#check the length 
stars = stars[:3418]
len(stars)

3418

In [38]:
date = date[:3418]
len(date)

3418

In [39]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [40]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | My husband and myself were ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,4th February 2023,(united kingdom)
1,✅ Trip Verified | Organised boarding process. ...,10,31st January 2023,(united kingdom)
2,✅ Trip Verified | Outward journey BA245 Londo...,10,31st January 2023,(united kingdom)
3,✅ Trip Verified | Check in agent at LHR was ve...,2,28th January 2023,(united kingdom)
4,✅ Trip Verified | Very disappointing. I book ...,4,28th January 2023,(united kingdom)

In [41]:
df.shape

(3418, 4)

### Export the data into a csv format

In [45]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")

In [43]:
 os.getcwd()

'C:\\Users\\USER\\Desktop\\Forage Intership - BA\\British-Airways-Good-or-Bad-main\\British-Airways-Good-or-Bad-main\\Data Collection'