## Data Cleaning

Now since we have extracted data from the website, it is not cleaned and ready to be analyzed yet. The reviews section will need to be cleaned for punctuations, spellings and other characters.

In [1]:
#imports

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [2]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [3]:
df.head()

,reviews,stars,date,country
0,Not Verified | Worst experience ever. Outbound...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,7th November 2022,Italy
1,✅ Trip Verified | Check in was a shambles at ...,1,7th November 2022,Malaysia
2,✅ Trip Verified | Beyond disgusted with the fa...,5,5th November 2022,United Arab Emirates
3,✅ Trip Verified | On July 19th 2022 I had subm...,1,31st October 2022,United States
4,✅ Trip Verified | I booked the flight on Oct ...,1,31st October 2022,United States

We will also create a column which mentions if the user is verified or not.

In [6]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [7]:
df['verified']

0       False
1        True
2        True
3        True
4        True
        ...
3413    False
3414    False
3415    False
3416    False
3417    False
Name: verified, Length: 3418, dtype: bool

### Cleaning Reviews

We will extract the column of reviews into a separate dataframe and clean it for semantic analysis

In [12]:
#import nltk
#nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...

True

In [13]:
#for lemmatization of words we will use nltk library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()


reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [14]:
# add the corpus to the original dataframe

df['corpus'] = corpus

In [15]:
df.head()

,reviews,stars,date,country,verified,corpus
0,Not Verified | Worst experience ever. Outbound...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,7th November 2022,Italy,False,verified worst experience ever outbound flight...
1,✅ Trip Verified | Check in was a shambles at ...,1,7th November 2022,Malaysia,True,check shamble bwi counter open full flight bag...
2,✅ Trip Verified | Beyond disgusted with the fa...,5,5th November 2022,United Arab Emirates,True,beyond disgusted fact baggage yet delivered we...
3,✅ Trip Verified | On July 19th 2022 I had subm...,1,31st October 2022,United States,True,july th submitted complaint form regard fact b...
4,✅ Trip Verified | I booked the flight on Oct ...,1,31st October 2022,United States,True,booked flight oct cancel flight day learning g...

### Cleaning/Fromat date

In [16]:
df.dtypes

reviews     object
stars       object
date        object
country     object
verified      bool
corpus      object
dtype: object

In [17]:
# convert the date to datetime format

df.date = pd.to_datetime(df.date)

In [18]:
df.date.head()

0   2022-11-07
1   2022-11-07
2   2022-11-05
3   2022-10-31
4   2022-10-31
Name: date, dtype: datetime64[ns]

### Cleaning ratings with stars

In [19]:
#check for unique values
df.stars.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '1', '5', '6', '9', '3', '2', '8',
       '7', '10', '4', 'None'], dtype=object)

In [20]:
# remove the \t and \n from the ratings
df.stars = df.stars.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [21]:
df.stars.value_counts()

1       735
2       382
3       379
8       349
10      306
7       300
9       294
5       259
4       227
6       182
None      5
Name: stars, dtype: int64

There are 5 rows having values "None" in the ratings. We will drop all these 5 rows.

In [22]:
# drop the rows where the value of ratings is None
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [23]:
#check the unique values again
df.stars.unique()

array(['5', '1', '6', '9', '3', '2', '8', '7', '10', '4'], dtype=object)

## Check for null Values

In [24]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     3411
                       True     False     False        2
dtype: int64

In [25]:
df.country.isnull().value_counts()

False    3411
True        2
Name: country, dtype: int64

We have two missing values for country. For this we can just remove those two reviews (rows) from the dataframe.

In [26]:
#drop the rows using index where the country value is null
df.drop(df[df.country.isnull() == True].index, axis=0, inplace=True)

In [27]:
df.shape

(3411, 6)

In [28]:
#resetting the index
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,Not Verified | Worst experience ever. Outbound...,5,2022-11-07,Italy,False,verified worst experience ever outbound flight...
1,✅ Trip Verified | Check in was a shambles at ...,1,2022-11-07,Malaysia,True,check shamble bwi counter open full flight bag...
2,✅ Trip Verified | Beyond disgusted with the fa...,5,2022-11-05,United Arab Emirates,True,beyond disgusted fact baggage yet delivered we...
3,✅ Trip Verified | On July 19th 2022 I had subm...,1,2022-10-31,United States,True,july th submitted complaint form regard fact b...
4,✅ Trip Verified | I booked the flight on Oct ...,1,2022-10-31,United States,True,booked flight oct cancel flight day learning g...
...,...,...,...,...,...,...
3406,This was a bmi Regional operated flight on a R...,1,2012-08-29,United Kingdom,False,bmi regional operated flight rj manchester hea...
3407,LHR to HAM. Purser addresses all club passenge...,10,2012-08-28,United Kingdom,False,lhr ham purser address club passenger name boa...
3408,My son who had worked for British Airways urge...,10,2011-10-12,United Kingdom,False,son worked british airway urged fly british ai...
3409,London City-New York JFK via Shannon on A318 b...,8,2011-10-11,United States,False,london city new york jfk via shannon really ni...
3410,SIN-LHR BA12 B747-436 First Class. Old aircraf...,9,2011-10-09,United Kingdom,False,sin lhr ba b first class old aircraft seat pri...

*****

Now our data is all cleaned and ready for data visualization and data analysis.

In [29]:
# export the cleaned data

df.to_csv(cwd + "/cleaned-BA-reviews.csv")